# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
venv310/

# Numpy outputs
*.npy
*.pt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

data/processed/
data/raw_pdb/

# Large generated attention files
experiments/gat_attention_weights.csv
experiments/*attention_weights*.csv

data/raw_pdb_expanded/
data/processed_expanded/

data/raw_pdb_expanded/
data/processed_expanded/

data/raw_pdb_expanded_bm5/
data/processed_bm5_train_balanced_natural_test/
data/processed_hard_negative_train_natural_test_r5/
data/processed_hard_negative_train_natural_test_r10/
data/processed_train_balanced_natural_test/

data/raw_pdb_expanded_bm5/
data/processed_bm5_train_balanced_natural_test/

data/raw_pdb_expanded_bm5/
data/processed_bm5_train_balanced_natural_test/
data/processed_combined_current_bm5_train_balanced_natural_test/
data/processed_hard_negative_train_natural_test_r5/
data/processed_hard_negative_train_natural_test_r10/
data/processed_train_balanced_natural_test/
data/esm2_embeddings/
data/processed_combined_current_bm5_esm2_pca64/
data/processed_combined_current_bm5_esm2_pca32/
data/processed_combined_current_bm5_esm2_pca16/
